<template>
    <span class="icons">
        <fa-icon
            v-for="group in validGroups(getGroups(userId))"
            :key="group"
            :icon="getIcon(group)"
            :class="[group.replace(' ', '_'), 'icon']"
            :title="group"
        />
    </span>
</template>

<script lang="ts">
import { mapGetters } from 'vuex';

export default {
    props: {
        userId: {
            type: String,
            required: true,
        },
    },
    computed: {
        ...mapGetters('profile', {
            getGroups: 'getGroups',
        }),
    },
    methods: {
        getIcon(groupName) {
            switch (groupName) {
                case 'Kickstarter Backer':
                    return ['fab', 'kickstarter-k'];
            }
            return null;
        },
        validGroups(groups) {
            return groups.filter(group => this.getIcon(group) != null);
        },
    },
};
</script>

<style lang="scss" scoped>
.icon {
    margin-left: 5px;
}
.Kickstarter_Backer {
    color: green;
}
</style>
